.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret

###
# Cookbooks are kept in their own repositories
###
cookbooks/*/
cookbooks/*-*

###
# Ignore various kinds of junk
###

# emacs
*~

# vim
*.sw[a-z]

# subversion
.svn
*.svn
